body
{
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	background: #f3f3f4;
	overflow: hidden;
}

.loggedinbody
{
	position: relative;
	top: 0px;
	left: -50px;
	background: #ffffff;
	width: 100%;
	padding-left: 50px;
	padding-right: 50px;
	min-height: 1440px;
}

.logobanner
{
	display: block;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

img
{
	margin-left: auto;
	margin-right: auto;
}

header
{
	position: absolute;
	height: 50px;
	width: 100%;
	background: #f3f3f4;
	top: 0px;
	left: 0px;
	padding-left: 30px;
	display: block;
	z-index: 10;
}

header img
{
	height: 47px;
	width: auto;
}

header .score
{
	position: absolute;
	right: 100px;
	display: inline-block;
	font-size: 2em;
	font-weight: 600;
}

.points
{
	margin-right: 100px;
}

.centerline
{
	background: #f6f6f6;
	width: 1px;
	position: relative;
	left: 50%;
	min-height: 1440px;
	z-index: 2;
}

#team1canvas
{
	width: 50%;
	position: absolute;
	top: 60px;
	left: 0px;
	z-index: 3;
}

#team2canvas
{
	width: 50%;
	position: absolute;
	top: 60px;
	left: 50%;
	z-index: 4;
}

#team1
{
	width: 50%;
	position: absolute;
	top: 60px;
}

#team2
{
	width: 50%;
	position: absolute;
	top: 60px;
	right: 50px;
	text-align: right;
}

.guessedWord
{
	color: #333;
	font-size: 3em;
	font-weight: 600;
}

.maintext
{
	text-align: center;
	color: #333;
	font-weight: 600;
	font-size: 3em;
	line-height: 1em;
}

.subtext
{
	text-align: center;
	color: #555;
	font-weight: 200;
	font-size: 2em;
	line-height: 3em;
}

form
{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

input[type="text"]
{
	width: 400px;
	border: none;
	font-size: 1em;
	padding: 1em 0 1em 1em;
	background: #fff;
	color: #333;
	font-weight: 600;
}

input[type="button"]
{
	width: 416px;
	border: none;
	color: #fff;
	font-size: 1em;
	padding: .5em;
	margin: 5px 0 5px 0;
	border-radius: 3px;
	font-weight: bold;
	line-height: 40px;
	background: #00aeff;
}

input[type="button"]:hover
{
	background: #00a0db;
}

#headerbutton
{
	position: absolute;
	width: 150px;
	height: 40px;
	padding: 0;
	margin: 0;
	top: 0px;
	left: 300px;
	display: inline-block;
}

.join
{
	display: inline-block;
	height: 150px;
	width: 50%;
}

#jointeam1
{
	background: #ff007e;
	font-size: 4em;
}

#jointeam1:hover
{
	background: #e70072;
}

#jointeam2
{
	background: #02e400;
	font-size: 4em;
}

#jointeam2:hover
{
	background: #02d900;
}

/* Drawing */

#colorholder
{
	height: 30px;
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	border: 2px solid #424547;
	padding: 3px;
}

#drawing-canvas
{
	background: #fff;
	width: 100%;
	border: 3px solid #999
}

.colorbox
{
	width: 22px;
	height: 22px;
	display: inline-block;
	border-radius: 3px;
	margin: 2px;
	border: 1px solid black;
}

.canvasdiv
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 600px)
{

	.subtext
	{
		font-size: 1em;
		line-height: 2em;
	}
	.logobanner
	{
		width: 100%;
	}
	img
	{
		width: 100%;
		height: auto;
	}
	form
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	input[type="text"]
	{
		width: 100%;
	}

	input[type="button"]
	{
		width: 100%;
	}
}